altgraph==0.17.4
grpcio==1.63.0
grpcio-tools==1.63.0
packaging==24.0
pefile==2023.2.7
protobuf==5.26.1
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
pywin32-ctypes==0.2.2
setuptools==69.5.1
shiboken6==6.7.0